@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --bg-color: #efefef;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);*/
  background-color: var(--bg-color);
  /* font-family: Arial, Helvetica, sans-serif;  */
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fix-height{
  min-height: calc(100vh - 150px);
}

.overflow-height{
  height: calc(100vh - 150px);
}